# Get these from your Supabase Dashboard -> Project Settings -> API
VITE_SUPABASE_URL=your_project_url_herehttps://fznosygujflawggpenui.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ6bm9zeWd1amZsYXdnZ3BlbnVpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk0NDI4MjQsImV4cCI6MjA5NTAxODgyNH0.62-MObOksTCUtwNE0hn4bfh15UBr4OZj_VSTInkdR5Y
